{% extends "mypage.html" %}

    {% block content %}
      <h1 class="first">Hello from the contact page.</h1>
    {% endblock %}
    
    {% block test %}
    <h2 class="second">CONTACT: </h2>
    {% endblock %}
    <ul>
        <li><strong>Email</strong>  anna.j@test@com</li>
        <li><strong>Phone</strong>  +44 758 123 456</li>
    </ul>
    <form action="" method="POST"> Tape your message here: <br>
    <textarea name="message" id="" cols="30" rows="10"></textarea>
    <button>Send</button>
  

        